body {
  background-color: #181f2b; /* Cold Blue Background */
  color: #d9e2ec; /* Light Text Color */
  font-family: 'Courier New', monospace;
  padding: 10px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.data-table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;
}

.data-table th,
.data-table td {
  border: 1px solid #394c67; /* Slightly Darker Blue Border */
  padding: 12px;
  text-align: left;
}

.data-table th {
  background-color: #394c67; /* Darker Blue Header Background */
  font-weight: bold;
  color: #d9e2ec;
}

.data-table tr:nth-child(even) {
  background-color: #2e3b4f; /* Slightly Darker Blue Even Row Background */
}

.data-table tr:nth-child(odd) {
  background-color: #253241; /* Darker Blue Odd Row Background */
}

.data-table tr:hover {
  background-color: #607a8e; /* Lighter Blue Hover Background */
}

.header {
  padding: 10px 8px;
  padding-bottom: 2px;
  color: #d9e2ec;
}

.header h1 {
  margin: 0;
}

.header h3,
.header p {
  color: #a3b8cc; /* Lighter Blue Text Color */
}

.header p#noti {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header input {
  height: 30px;
  font-size: 20px;
}

.gg-copy {
  position: absolute;
  left: 295px;
  top: -35px;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 14px;
  height: 18px;
  zoom: 0.9;
  border: 2px solid #d9e2ec; /* Light Border Color */
  margin-left: -5px;
  margin-top: -4px;
  cursor: pointer;
}

.gg-copy::after,
.gg-copy::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.gg-copy::before {
  background: linear-gradient(to left, #d9e2ec 5px, transparent 0) no-repeat right top/5px 2px,
              linear-gradient(to left, #d9e2ec 5px, transparent 0) no-repeat left bottom/2px 5px;
  box-shadow: inset -4px -4px 0 -2px;
  bottom: -6px;
  right: -6px;
  width: 14px;
  height: 18px;
}

.gg-copy::after {
  width: 6px;
  height: 2px;
  background: #d9e2ec; /* Light Icon Color */
  left: 2px;
  top: 2px;
  box-shadow: 0 4px 0, 0 8px 0;
}

ul {
  padding-left: 30px;
  line-height: 25px;
  color: #a3b8cc; /* Lighter Blue Text Color */
}

ul b {
  color: #d9e2ec;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
  .data-table th,
  .data-table td {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  .data-table th {
    text-align: center;
  }

  .data-table tr,
  .data-table tbody,
  .data-table thead,
  .data-table th,
  .data-table td {
    display: block;
  }

  .data-table tbody {
    padding: 10px;
  }

  .data-table th,
  .data-table td {
    text-align: left;
    margin-bottom: 10px;
  }
}
